{% extends 'customer/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h1>{{ title }}</h1>

    <form method="POST" class="card p-4 shadow-sm mt-3">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success">Save</button>

        {% if request.user.userprofile.role == "customer" %}
            <a href="{% url 'customer_dashboard' %}" class="btn btn-secondary">Cancel</a>
        {% else %}
            <a href="{% url 'custom_requests' %}" class="btn btn-secondary">Cancel</a>
        {% endif %}
    </form>
</div>

{% endblock %}