{% extends 'admin_panel/base.html' %}

{% block content %}

<body class="bg-light">

<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h3>Delete Standard Product</h3>
        <p>Are you sure you want to delete <strong>{{ product.product_name }}</strong>?</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'standard_products' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}